@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #fffcfc, #ffffffc0);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8REM;
    padding: 8px;
    height: 3rem;
}

header li {
    list-style-type: none;
    color: rgb(2, 1, 1);
}

header li :hover {
    border-radius: 8px;
    transition: ease 0.2s;
    padding: 8px;
    text-decoration: none;
    color: rgb(15, 238, 164);
}

header li a {
    border-radius: 4%;
    padding: 8px;
    text-decoration: none;
    color: rgb(22, 21, 21);
    font-family: "Poppins", sans-serif;
}

.containerC {
    width: 40rem;
    height: 80vh;
    margin-left: 8rem;
    position: absolute;
    top: 13%;
}

.containerC h2 {
    margin-left: 1rem;
}

.containerC p {
    margin: 0, 1rem, 0, 1rem;
    margin-bottom: 1vh;
    margin-left: 1rem;
}

.py {
    margin-top: 10vh;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 1rem;
    width: 250px;
    height: 10rem;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.py:hover {
    border-bottom: #13e7b2 solid 3px;
    color: rgb(15, 238, 164);
    transition: ease 0.2s;
}

.py h4 {
    margin-top: 2px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center
}

.py p {
    width: 100%;
    margin-left: 5%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

main.container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 60%;
    top: 14%;
    width: 350px;
    height: 76vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.wen {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 250px;
    height: 100px;
    padding: 0px;
}

.log {
    padding-bottom: 1rem;
}

.wen a {
    color: rgb(2, 1, 1);
}

.wen a:hover {
    color: rgb(15, 238, 164);
}

.container h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to left, #069b56, #53e7c2);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to left, #00723d, #53e7c2);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #00723d, #53e7c2);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 6vh;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #00723d, #53e7c2);
}